.slider__button-prev {
  position: absolute;
  bottom: 47px;
  left: 193px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .8) url('../../../../images/icons/slider-button-arrow.svg') 50%/40px 25px no-repeat;
 }
