.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* max-width: 1420px; */
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .footer__wrapper {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
