.navigation__subitem {
  padding-bottom: 5px;
  display: block;
  max-width: 50px;
  overflow: visible;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.navigation__subitem:first-child {
  padding-top: 20px;
}
