.drop-down-mobile {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 262px;
    min-height: 100vh;
    transition: all 200ms ease;
    padding: 30px 20px;
    box-sizing: border-box;
    background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 79.77%);
  }
